body {
  margin: 0;
  padding: 0;
}

.bg{
  /* background-color: #060A1B; */
  background-image: url('../img/fantasy-style-galaxy-background.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
position: fixed;
}